<div class="footer">
  <div class="d-flex justify-content-between mb-5">
    <img class="img" src="../../assets/images/logo.png" />
    <div class="mail">
      <input
        class="form-control form-control-lg"
        type="Email"
        placeholder=" Enter Email "
      />
      <button type="button" class="btn btn-primary">SEARCH</button>
    </div>
  </div>
  <div class="d-flex justify-content-between footer-txt">
    <p>Worldpedia Inc</p>
    <p>2023 | All Rights Reserved</p>
  </div>
</div>
